<div class="container d-flex flex-column">
  <h2 class="my-5">My Travel</h2>

  <a class="btn btn-primary btn-lg me-auto m-2 fw-bold" routerLink="new">
    Create a new trip
  </a>
  <div class="mx-2 my-4">OR</div>
  <div class="d-flex flex-wrap justify-content-between">
    <a
      class="link-card shadow-box d-flex justify-content-center align-items-center fs-5 m-2"
      routerLink="trips"
    >
      View My Trips
    </a>
    <a
      class="link-card shadow-box d-flex justify-content-center align-items-center fs-5 m-2"
      routerLink="trips/drafts"
    >
      View My Drafts
    </a>
    <a
      class="link-card shadow-box d-flex justify-content-center align-items-center fs-5 m-2"
      routerLink="favorites"
    >
      Manage My Favorites
    </a>
    <a
      class="link-card shadow-box d-flex justify-content-center align-items-center fs-5 m-2"
      routerLink="cash-advance"
    >
      Manage My Cash Advance
    </a>
  </div>
</div>
